/*https://colorhunt.co/palette/2a09443b185fa12568fec260*/

body {
    background-color: #3B185F;
    color: #FFF;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin-bottom: 2rem;
    position: relative;
}

h5 {
    font-size: 2rem;
    font-weight: 700;
    color: #2A0944;
}

h2:before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    bottom: -10px;
}

h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
    bottom: -10px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1000;
  }
/************Navbar*************/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    z-index: 1;
    overflow-y: auto;
}

.nav-menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    text-align: left;
    list-style-type: none;
}

.nav-item {
    margin: 1rem;
    background-color: #FEC260;
    color: white;
    border-radius: 100px/100px;
    padding: 10px;

}

a,
a:hover {
    color: #A12568;
    text-decoration: none;
}

.nav-item i {
    vertical-align: -30%;
}

@media only screen and (max-width: 750px) {
    nav {
        display: none;
    }
}




/***********Title Section************/

#title-section {
    display: inline-flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    flex-direction: column;
    /* margin: 2rem 0.8rem 0 0; */
    font-size: 2rem;
}

#title-section > div > span {
    font-size: 2rem;
}

#typed,
.typed-cursor {
    color: #FEC260;
    font-size: 2rem;
}

#title-section i {
    padding-top: 2rem;
}

@media only screen and (max-width: 750px) {
    #title-section div{
        padding-left: auto;
    }

    #title-section > h1 {
        font-size: 2rem;
    }
    
    #title-section > div > span {
        font-size: 1.5rem;
    }
}

/***Skills Section***/

#skill-section {
    display: flex;
    align-items: center;
    padding: 1rem 20%;
    height: 100vh;
}

.container .row {
    justify-content: space-between;
}

.skill {
    text-align: left;
}

.progress {
    background-color: #FFEBA1;
    padding: 0 !important;
    height: 15px;
    margin: 1rem 0;

}

.progress-bar {
    background-color: #FEC260;
    text-align: center;
}

.progress .span {
    display: block !important;
}

.skill span .val {
    float: right;
}

@media only screen and (max-width: 750px) {
    #skill-section {
        padding: 1rem 2rem;
    }
}

/***********About Section*************/

#about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 2rem 1rem;
    height: 100vh;
}

.about-list {
    list-style-type: none;
    text-align: left;
    white-space: nowrap;
}

.about-list>li:before {
    color: red;
    content: 'keyboard_arrow_right';
    font-family: 'Material Icons';
    font-size: 25px;
    vertical-align: -20%;
}

.about-list a {
    text-decoration: none;
    color: #FEC260;
}

/********** Projects/Contributions Section **********/

#projects-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 2rem 1rem;
    height: 100vh;
}

#projects-section > h2 {
    margin-bottom: 1rem;
}

#projectsSlides {
    margin-top: 2rem;
    width: 85%;
}



@media only screen and (max-width: 800px) {
    #projectsSlides {
        height: 85%;
    }

    #projectsSlides img {
        height: 80vh;
        object-fit: cover;
    }
}

/************* Contact Me Section **************/

#contact-section {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    height: 100vh;
}

.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}

.side-text-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    text-align: left;
}

.form-control {
    margin: 1rem;
}

form .btn {
    background-color: #FEC260;
    color: #A12568;
}

.input-group input, .input-group textarea {
    background-color: #2A0944
}

@media only screen and (max-width: 990.5px) {
    .side-text-contact-form {
        display: none;
    }
}

/*************** Footer Section ***************/
footer {
    background-color: #2A0944;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

footer i {
    color: #A12568;
    font-size: 2rem;
    padding: 7px;
    background-color: #FEC260;
    border-radius: 100px/100px;
}