/*https://colorhunt.co/palette/2a09443b185fa12568fec260*/

body {
    background-color: #2A0944;
    color: #FFF;
    text-align: center;
}

/************Navbar*************/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    z-index: 999;
    overflow-y: auto;
}

.nav-menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    text-align: left;
    list-style-type: none;
}

.nav-item {
    margin: 1rem;
    background-color: #FEC260;
    color: white;
    border-radius: 100px/100px;
    padding: 10px;
    
}

a, a:hover {
    color: #A12568;
    text-decoration: none;
}

.nav-item i {
    vertical-align: -30%;
}

@media only screen and (max-width: 750px) {
  nav {
    visibility: hidden;
  }
}




/***********Title Section************/

#title-section {
    display: inline-flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#typed,
.typed-cursor {
    color: red;
}

/***Skills Section***/

#skill-section {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    height: 100vh;
}

.container .row {
    justify-content: space-between;
}

.skill {
    text-align: left;
}

.progress {
    padding: 0 !important;
    height: 15px;
    margin: 1rem 0;

}

.progress-bar {
    text-align: center;
}

.progress .span {
    display: block !important;
}

.skill span .val {
    float: right;
}

/***********About Section*************/

#about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 2rem 1rem;
    height: 100vh;
}

.about-list {
    list-style-type: none;
    text-align: left;
    white-space: nowrap;
}

.about-list>li:before {
    color: red;
    content: 'keyboard_arrow_right';
    font-family: 'Material Icons';
    font-size: 25px;
    vertical-align: -20%;
}